.lWrapper {
  background-color: darkgray;
}

.p1Win {
  background-color: red;
}

.p2Win {
  background-color: blue;
}

.activeTTT {
  background-color: white;
}

table {
  width: 100%;
  height: 100%;
}