<!--boardInit is an array = [0,1,2] which is used strictly for this initialization-->
<table
  class="lWrapper"
  [class.activeTTT]="isActive"
  [class.p1Win]="whoWon == 1"
  [class.p2Win]="whoWon == 2"
>
  <tr *ngFor="let row of boardInit">
    <td *ngFor="let col of boardInit">
      <quadrant-square
        [id]="col + row * boardInit.length"
        [isActive]="isActive"
        [gameTurn]="gameTurn"
        [computerPlay]="computerPlaySquares[col + row * boardInit.length] == 2"
        (squareClickListener)="handleSquareClick($event)"
      ></quadrant-square>
    </td>
  </tr>
</table>
