<div class="menuWrapper">
    <div class="title">Extreme Tic-Tac-Toe</div>
    <div class="titleImageDiv">
      <img
        class="titleImage"
        src="https://upload.wikimedia.org/wikipedia/commons/d/d1/Incomplete_Ultimate_Tic-Tac-Toe_Board.png"
      />
    </div>
    <div class="menuButtonWrapper">
      <button class="btn btnPlayGame" (click)="handlePlayGame()">
        Play game
      </button>
      <button class="btn btnPlayGame" (click)="handlePlayComputer()">
      Play computer
    </button>
      <button class="btn btnInstructions" (click)="handleShowInstructions()">
        Instructions
      </button>
    </div>
  </div>
  