.square {
    background-color: lightgray;
    width: 100%;
    aspect-ratio: 1/1;
  }
  
  .p1Play {
    background-image: url('../../assets/img/x_square.png');
    background-size: cover;
  }
  
  .p2Play {
    background-image: url('../../assets/img/o_square.png');
    background-size: cover;
  }
  