<div class="allContainer">
  <div class="container" *ngIf="activeView == 0">
    <menu
      (playGameEmitter)="handleMenuPlayGame($event)"
      (showInstructionsEmitter)="handleShowInstructions()"
    ></menu>
  </div>
  <div class="container" *ngIf="activeView == 1">
    <game (mainMenuEmitter)="handleMainMenu()" [computerPlayer]="computerPlayer"></game>
  </div>
  <div class="container" *ngIf="activeView == 2">
    <instructions (backToMenuEmitter)="handleMainMenu()"></instructions>
  </div>
</div>
