<div class="allContainer">
  <div class="container" *ngIf="activeView == 0">
    <app-menu
      (playGameEmitter)="handleMenuPlayGame($event)"
      (showInstructionsEmitter)="handleShowInstructions()"
    ></app-menu>
  </div>
  <div class="container" *ngIf="activeView == 1">
    <app-game 
    (mainMenuEmitter)="handleMainMenu()" 
    [isComputerPlayer]="isComputerPlayer"
    ></app-game>
  </div>
  <div class="container" *ngIf="activeView == 2">
    <app-instructions 
    (backToMenuEmitter)="handleMainMenu()"
    ></app-instructions>
  </div>
</div>