<!--tttBoardsInit is an array = [0,1,2] which is used strictly for this initialization-->
<table class="wrapper">
    <tr *ngFor="let row of tttBoardsInit">
      <td *ngFor="let col of tttBoardsInit">
        <board-quadrant
        [qid]="col + row * tttBoardsInit.length"
        [gameTurn]="gameTurn"
        [isActive]="
          col + row * tttBoardsInit.length == activeBoard || activeBoard == -1
        "
        [whoWon]="tttWins[col + row * tttBoardsInit.length]"
        [computerPlaySquares]="boardState[col + row * tttBoardsInit.length]"
        (squareClickListener)="handleSquareClick($event)"
      ></board-quadrant>
      </td>
    </tr>
  </table>